@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.registrationContainer {
    border-radius: 10px;
    width: 380px;
    height: 600px;
    padding: 30px;
    background: rgba(216, 233, 245, 0.38);
    box-shadow: 0 4px 12px rgba(172, 170, 170, 0.82);
    font-family: 'Ubuntu', sans-serif;
}